.file-info-label{
    -fx-border-color: #c1c5fe;
    -fx-border-insets: 2px;
    -fx-border-style: solid;
}

.file-data-content{
    -fx-font-family: Consolas;
    -fx-font-size: 12px;
}

.file-placeholder {
    -fx-font-size: 24px;
    -fx-fill: #E6E6E6;
    -fx-font-weight: bolder;
    -fx-font-family: Arial;
}