.sunken-label {
    -fx-background-insets: 0 1 1 0, 1 0 0 1, 1;
    -fx-padding: 4px;
    -fx-background-radius: 4px;
    -fx-border-radius: 2px;
    -fx-font: 14px "Arial";
    -fx-background-color: derive(-fx-control-inner-background, 0%);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.0, 0, 3);
}
