.sunken-label {
    -fx-background-color: rgba(0, 0, 0, 0.75),
    rgba(255, 255, 255, 0.75),
    linear-gradient(to bottom, #eeeeee 0%, #f9f9f9 100%);
    -fx-background-insets: 0 1 1 0, 1 0 0 1, 1;
    -fx-padding: 7px;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-font: 14px "Arial";
    -fx-text-fill: black;
}

.table-column {
    -fx-alignment: center;
}

