.sunken-label {
    -fx-background-insets: 0 1 1 0, 1 0 0 1, 1;
    -fx-padding: 4px;
    -fx-background-radius: 4px;
    -fx-border-radius: 2px;
    -fx-font: 14px "Arial";
    -fx-background-color: derive(-fx-control-inner-background, 0%);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.0, 0, 3);
}

.table-column {
    -fx-alignment: center;
}

.text-field {
    -fx-font-family: Consolas, "Courier New";
}

.tab-pane .tab-header-area .tab {
    -fx-background-radius: 12 3 0 0;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-padding: 4 10 4 10;
}

/* label inside tab header */
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-padding: 4px 10px 4px 0px;
    -fx-text-alignment: left;
}

/* label inside tab header */
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label:hover {
    -fx-text-fill: #e39999;
}

/* 'x' inside tab header */
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button {
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button:hover {
    -fx-background-color: #e39999;
    -fx-cursor: hand;
}

.button {
    -fx-background-color: derive(-fx-body-color, 10%);
    -fx-border-color: derive(-fx-body-color, 5%);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.0, 0, 3);
}

.button:default {
    -fx-text-fill: #e39999;
}

/* stops border around selected tab header labels */
.focus-indicator{
    -fx-border-color: transparent;
}


